.form-container{
    padding: 6px;
    border: 2px solid blue;
}
.form {
    display: grid;
    height: 100px;
    width: 100%;
    grid-template: 50px .9fr / 1fr 1fr;
    grid-template-areas: "input1 input2"
                         "button button";
    gap: 7px;
    /* border: 2px solid red; */
}
.input1 {
    grid-area: input1;
}
.input2 {
    grid-area: input2;
}
.form-input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    min-width: 0;
    /* text-indent: 5px; */
}

.form-button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}